In [4]:
'''It can start with letter or _
It can be combination of letters and numbers
Only _ as special symbol is allowed'''

name_=90
print(name_)

90

In [7]:
5**6

15625

In [8]:
#Precedence and associativity

'''
 1) Paraenthesis
 2)Exponential(**)(right to left)
 3) *,/,//,%(left to right)
 4) +,-(left to right)'''
print(3-4*5)

-17

In [9]:
3-7//2%5*9+4

-20

In [13]:
3.8//2

1.0

In [19]:
3//2.0
8//3
8/2

4.0

In [17]:
370/30//2*5%10+46-5//2%3

44.0

In [16]:
2**3**2

512

In [18]:
("hello"+"hi")*3

'hellohihellohihellohi'

In [22]:
print(5>6,"\n",5!=6,"\n",5<=6,"\n",5>6,"\n",5<6,"\n",5==6)

False
 True
 True
 False
 True
 False

In [24]:
# Assignment operators =,+=,-=,*=,/=,//=,%=,**=
a=2
a+=1
print(a)
a-=3
print(a)
a=4
a*=2
a/=4
a//=2
a%=10
print(a)

3
0
1.0

In [29]:
a=--3 # only syntax allowed but will not make any difference
print(a)

3

In [30]:
# b=3++ # even syntex not allowed
# print(b)

SyntaxError: invalid syntax (<ipython-input-30-53d556fc168b>, line 1)

In [34]:
a=int(input("Enter your name"))
type(a)

Enter your name56

int

In [37]:
#Logical operators
#and, or, not

5>4 and 5>3 and 5>2

True

In [38]:
5>4 or 5>3 or 5>2

True

In [39]:
not(5>7)

True

In [40]:
4 & 17 # binary and

0

In [41]:
4 | 17 # binary or

21

In [43]:
4^3 #Binary XOR

7

In [44]:
20^4

16

In [47]:
3<<4  #Left shift

48

In [46]:
8>>2 #right shift

2

In [48]:
254>>5

7

In [3]:
# WAP to check whether a number is even or odd
n=int(input("Enter a number"))
if(n%2==0):
    print(n," is even")
    print("hello")
else:
    print(n, "is odd")
print("Outside conditional statements")

Enter a number447
447 is odd

In [7]:
#IF else empty
if(0):   #Any number other than zero is true
    #print("True")
    pass
else:
    #print("False")
    pass
print("hello")

False
hello

In [23]:
# if elif else
a=int(input("Enter a number "))
b=int(input("Enter a number "))
c=int(input("Enter a number "))
if(a>=b and a>c):
    if(a>b):
        print(a, "is greater")
    else:
        print("a and b both are same and greater",a)
elif(b>a and b>=c):
    if(b>c):
        print(b, "is greater")
    else:
        print("c and b both are same and greater",b)
elif(c>=a and c>b):
    if(c>a):
        print(c, "is greater")
    else:
        print("a and c both are same and greater",a)
else:
    print("All are equal")

Enter a number 7
Enter a number 7
Enter a number 5
a and b both are same and greater 7

In [25]:
#looping statement
i=0
while(i<10):
    print(i,end=" , ")
    i+=1
print("outside while loop")

0 , 1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , outside while loop

In [26]:
list(range(1,10,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
list(range(1,50,3))

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]

In [29]:
list(range(100,50,-3))

[100, 97, 94, 91, 88, 85, 82, 79, 76, 73, 70, 67, 64, 61, 58, 55, 52]

In [34]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
for i in range(0,10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [36]:
for i in range(0,101):
    if(i%2==0):
        print(i, end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [37]:
for i in range(10):
    if(i==3):
        break
    else:
        print(i,end=" ")

0 1 2

In [38]:
for i in range(10):
    if(i==3):
        continue
    else:
        print(i,end=" ")

0 1 2 4 5 6 7 8 9

In [41]:
for i in range(10):
    pass

In [46]:
for i in range(10):
    print(i,end=" ")
else:
    print("hello")

0 1 2 3 4 5 6 7 8 9 hello

In [47]:
for i in range(1,10):
    for j in range(i):
        print(j, end=" ")
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8