In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="gurneet",
  password="admin",
  database="k20ts"
)

cur=mydb.cursor(buffered=True)

In [2]:
cur.execute("SHOW DATABASES")
for i in cur:
    print(i)

('information_schema',)
('k20ts',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('websitedb',)
('world',)

In [13]:
cur.execute("CREATE DATABASE k20ts")

DatabaseError: 1007 (HY000): Can't create database 'k20ts'; database exists

In [14]:
cur.execute("CREATE TABLE studentdata(rno INT PRIMARY KEY, name VARCHAR(255), msg VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'studentdata' already exists

In [5]:
cur.execute("INSERT INTO studentdata VALUES(%s,%s,%s)",(1,"Anurag","Hello"))

In [29]:
cur.execute("SELECT name from studentdata where rno=1")
data = cur.fetchall()
for i in data:
    print(i)

('Anurag',)

In [17]:
from tkinter import *
from tkinter import messagebox
import mysql.connector

def insert():
    if (v2.get()=='' or v3.get()=='' or v1.get()==''):
        messagebox.showerror("ERROR","ALL FIELDS NEED TO BE FILLED")
    else:
        if(v1.get().isdigit()):
            cur.execute("SELECT rno from studentdata")
            data = cur.fetchall()
            for i in data:
                if int(v1.get()) in i:
                    messagebox.showerror("ERROR","ROLL NUMBER ALREADY PRESENT")
                    break
            else:
                cur.execute("INSERT INTO studentdata VALUES(%s,%s,%s)",(int(v1.get()),v2.get(),v3.get()))
                mydb.commit()
                messagebox.showinfo("SUCCESS","DATA ADDDED")
        else:
            messagebox.showerror("ERROR","ROLL NUMBER INCORRECT")

top=Tk()
Label(top,text="Enter roll number").grid(row=0,column=0)
v1=StringVar()
e1=Entry(top,textvariable=v1).grid(row=0,column=1)
Label(top,text="Enter Name").grid(row=1,column=0)
v2=StringVar()
e2=Entry(top,textvariable=v2).grid(row=1,column=1)
Label(top,text="Enter Message").grid(row=2,column=0)
v3=StringVar()
e3=Entry(top,textvariable=v3).grid(row=2,column=1)
Button(top,text="Submit Data",command=insert).grid(row=5,column=1)
top.mainloop()

In [50]:
from tkinter import *
from tkinter import messagebox
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="gurneet",
  password="admin",
  database="k20ts"
)

cur=mydb.cursor(buffered=True)

def update():
    if (v2.get()=='' or v3.get()==''):
        messagebox.showerror("ERROR","ALL FIELDS NEED TO BE FILLED")
    else:
        qr="UPDATE studentdata SET name=%s , msg=%s WHERE rno=%s"
        cur.execute(qr,(v2.get(),v3.get(),int(v1.get())))
        mydb.commit()
        messagebox.showinfo("SUCCESS","DATA UPDATED")


def check():
    if (v1.get().isdigit()):
        Label(top,text="DATA FOR THE ROLL NUMBER IS :: ").grid(row=2,column=0)
        qr1="SELECT name FROM studentdata where rno=%s"
        val=v1.get()
        cur.execute(qr1,(val,))
        data1=cur.fetchone()
        qr2="SELECT msg FROM studentdata where rno=%s"
        cur.execute(qr2,(val,))
        data2=cur.fetchone()
        Label(top,text=data1).grid(row=3,column=0)
        Label(top,text=data2).grid(row=4,column=0)
        
        Label(top,text="Enter the new data to be updated :: ").grid(row=7,column=0)
        Label(top,text="Enter Name").grid(row=8,column=0)
        e2=Entry(top,textvariable=v2).grid(row=8,column=1)
        Label(top,text="Enter Message").grid(row=9,column=0)
        e3=Entry(top,textvariable=v3).grid(row=9,column=1)
        Button(top,text="Update Data",command=update).grid(row=10,column=0)
    else:
        messagebox.showerror("ERROR","ROLL NUMBER INCORRECT")

top=Tk()
v2=StringVar()
v3=StringVar()
Label(top,text="Enter roll number").grid(row=0,column=0)
v1=StringVar()
e1=Entry(top,textvariable=v1).grid(row=0,column=1)
Button(top,text="Check Data",command=check).grid(row=1,column=0)
top.mainloop()