In [1]:
"""pip install mysql-connector-python"""
import mysql.connector
db=mysql.connector.connect(
host="localhost",
user='root',
password='root')
print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002683979ED90>

In [2]:
cur=db.cursor()
cur.execute("CREATE DATABASE k20ts")

In [3]:
cur.execute("SHOW DATABASES")
for i in cur:
    print(i)

('information_schema',)
('k19as',)
('k19aw',)
('k20ts',)
('k20vl',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [4]:
db=mysql.connector.connect(
host="localhost",
user='root',
password='root',
database="k20ts")

In [5]:
cur=db.cursor()
cur.execute("CREATE TABLE student(rollno INT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [6]:
cur.execute("SHOW TABLES")
for i in cur:
    print(i)

('student',)

In [10]:
cur.execute("INSERT INTO student VALUES(1,'hello','hi')")

In [13]:
cur.execute("INSERT INTO student VALUES(%s,%s,%s)",(2,"a","b"))

In [14]:
cur.execute("SELECT * FROM student")
data=cur.fetchall()
for i in data:
    print(i)

(1, 'hello', 'hi')
(2, 'a', 'b')