In [2]:
#pip install pandas
import pandas as pd

In [6]:
#Series is 1 dimensional 
s1=pd.Series([1,2,3],index=['a','b','c'])
print(s1,"\n",s1['b'])

a    1
b    2
c    3
dtype: int64
 2

In [7]:
s2=pd.Series({'a':1,'b':2,'c':3})
print(s2)

a    1
b    2
c    3
dtype: int64

In [8]:
print(type(s1))

<class 'pandas.core.series.Series'>

In [9]:
s1=pd.Series([[1,2,3],[4,5,6]])
print(s1)

0    [1, 2, 3]
1    [4, 5, 6]
dtype: object

In [6]:
df=pd.DataFrame([[1,'a',3],[4,'b',6],[6,'c',8]])
df
print(type(df),type(df[0]))

<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.series.Series'>

In [19]:
# USING LIST
datalist=[['blue','Ball',1.2],
['Green','Pen',1.0],
['Yellow','Pencil',0.6],
['Red','Paper',0.9],
['White','Mug',1.7]]
df = pd.DataFrame(datalist,columns=['Color','Object','Price'])
df
# print(type(df[['Color','Price']]))
df['id']=[1,2,3,4,5]
df

    Color  Object  Price  id
0    blue    Ball    1.2   1
1   Green     Pen    1.0   2
2  Yellow  Pencil    0.6   3
3     Red   Paper    0.9   4
4   White     Mug    1.7   5

In [13]:
# USING DICTIONARY
df9=pd.DataFrame({'Color':['Blue','Green','Yellow','Red','White'],
'Object':['Ball','Pen','Pencil','Paper','Mug'],
'Price':[1.2,1.0,0.6,0.9,1.7]})
df9

    Color  Object  Price
0    Blue    Ball    1.2
1   Green     Pen    1.0
2  Yellow  Pencil    0.6
3     Red   Paper    0.9
4   White     Mug    1.7

In [13]:
df=pd.DataFrame([[1,'a',3],[4,'b',6]],columns=['id','name','rollno'],
               index=['a','b'])
df

   id name  rollno
a   1    a       3
b   4    b       6

In [15]:
df1=pd.DataFrame({'Name':['a','b','c'],
                 'Rollno':[1,2,3],
                 'address':["00","01","02"]},index=['I','II','III'])
df1

    Name  Rollno address
I      a       1      00
II     b       2      01
III    c       3      02

In [4]:
df3=pd.DataFrame({'Regd. No':[1000,1001,1002,1003,1004],
                    'Name':['Steve','Mathew','Jose','Patty','Vin'],
                    'Marks%':[86.25,91.63,72.90,69.23,88.30]})
print(df3)

   Regd. No    Name  Marks%
0      1000   Steve   86.25
1      1001  Mathew   91.63
2      1002    Jose   72.90
3      1003   Patty   69.23
4      1004     Vin   88.30

In [4]:
print(df1['Name'])
print(type(df1['Name']), type(df1))

I      a
II     b
III    c
Name: Name, dtype: object
<class 'pandas.core.series.Series'> <class 'pandas.core.frame.DataFrame'>

In [5]:
print(df1[['Name','Rollno']])

    Name  Rollno
I      a       1
II     b       2
III    c       3

In [8]:
df1.loc[['I','III']]

    Name  Rollno address
I      a       1      00
III    c       3      02

In [9]:
df1.loc[['I','III'],['Name','address']]

    Name address
I      a      00
III    c      02

In [9]:
df1.iloc[[0,1],[1,2]]

    Rollno address
I        1      00
II       2      01

In [3]:
df=pd.DataFrame({'Name':[],"Mobile":[],"Email":[],"Gender":[]})
df.to_csv("regis.csv",index=None)

In [4]:
from tkinter import *
from tkinter import messagebox
import tkmacosx

def insert():
    if(var1.get()=="" or var2.get()=="" or var3.get()=="" or v1.get()==0):
        messagebox.showerror("Error","All fields are required")
    else:
        if(var2.get().isdigit() and len(var2.get())==10):
            import re
            res=re.search(".+@.+['.'].+",var3.get())
            if(res):
                df=pd.read_csv("regis.csv")
                cn=list(df.columns)
                df=df.append(pd.DataFrame({cn[0]:[var1.get()],
                                          cn[1]:[var2.get()],
                                          cn[2]:[var3.get()],
                                          cn[3]:[v1.get()]}))
                df.to_csv("regis.csv",index=None)
                
            else:
                messagebox.showerror("Email","Enter a valid email")
        else:
            messagebox.showerror("Mobile","Enter Valid Mobile Number")


top=Tk(className="Registration")
top.geometry("400x400")
Label(top,text="Enter Name").place(x=50,y=50)
var1=StringVar()
e1=Entry(top,textvariable=var1)
e1.place(x=150,y=50)
Label(top,text="Enter Mobile").place(x=50,y=100)
var2=StringVar()
e2=Entry(top,textvariable=var2)
e2.place(x=150,y=100)
Label(top,text="Enter Email").place(x=50,y=150)
var3=StringVar()
e3=Entry(top,textvariable=var3)
e3.place(x=150,y=150)
Label(top,text="Gender").place(x=50,y=200)
v1=IntVar()
r1=Radiobutton(top,text="Male",variable=v1,value=1)
r1.place(x=100,y=200)
r2=Radiobutton(top,text="Female",variable=v1,value=2)
r2.place(x=180,y=200)
r3=Radiobutton(top,text="Others",variable=v1,value=3)
r3.place(x=260,y=200)
Button(top,text="Submit",command=insert).place(x=150,y=250)
top.mainloop()

In [14]:
# Sliding Windows technique
def birthday(s, d, m):
    # Write your code here
    # int sumDay=0
    n=len(s)
    cnt=0
    for i in range(0,n-m+1):
        sumDay=0
        # print(sumDay)
        for j in range(i,i+m):
            sumDay+= s[j]
            # print(sumDay)
        if sumDay==d:
            cnt+=1
    return cnt 

s=[2,2,1,3,2]
d=4
m=2
result=birthday(s, d, m)
print(result)

2